@import "src/scss/variables";
@import "src/scss/animations";

.projects-container {
	height: 150vh;
	height: $view-height;
}

.projects-background {
	height: 100%;
	width: 100%;

	background-image: url("/assets/images/brick.jpg");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	// desktop layout
	@media screen and (min-width: $resp-screen-limit) {
		filter: brightness(0.85);
	}

	// mobile layout
	@media all and (max-width: $resp-screen-limit) {
		filter: brightness(0.75);
	}
}
