<div class="landing-container" #landing>
	<div class="landing-background"></div>
	<div class="landing-text-container">
		<div class="landing-headline-1 headline-clip twoHeader">
			<div class="headline-text">Hello.</div>
			<div class="headline-text">I'm Reese Peltier.</div>
		</div>
		<div class="landing-headline-2">
			<div class="headline-clip">
				<div class="headline-text">
					Developer
				</div>
			</div>
			<div class="headline-clip">
				<div class="headline-text">
					Designer
				</div>
			</div>
			<div class="headline-clip twoHeader">
				<div class="headline-text">&&nbsp;</div>
				<div class="headline-text">Code Enthusiast</div>
			</div>
		</div>
	</div>
</div>